.about-hero{

    padding:200px 100px 120px;

    text-align:center;

}

.about-hero span{

    color:#6D8BFF;

    letter-spacing:5px;

}

.about-hero h1{

    font-size:6rem;

    margin:20px 0;

    font-weight:900;

}

.about-hero p{

    max-width:800px;

    margin:auto;

    line-height:2;

    color:#bdbdbd;

}

.about-grid{

    display:grid;

    grid-template-columns:
    repeat(3,1fr);

    gap:30px;

    padding:0 100px 120px;

}

.about-card{

    background:#0d0d0d;

    padding:40px;

    border-radius:25px;

}

.about-card h2{

    margin-bottom:20px;

}

.about-card p{

    color:#bdbdbd;

    line-height:1.8;

}

@media(max-width:900px){

    .about-hero{

        padding:150px 30px 80px;

    }

    .about-hero h1{

        font-size:3rem;

    }

    .about-grid{

        grid-template-columns:1fr;

        padding:0 30px 80px;

    }

}