.admin-page{

    padding:50px;
}

.stats{

    display:grid;

    grid-template-columns:
    repeat(auto-fit,minmax(200px,1fr));

    gap:20px;

    margin:40px 0;
}

.card{

    padding:30px;

    border:1px solid #0062ff;

    text-align:center;
}

.order-card{

    border:1px solid #005f8b;

    padding:20px;

    margin-bottom:15px;
}