<<<<<<< HEAD
.auth-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px;

}

.auth-card{

    width:100%;
    max-width:500px;

    background:#0d0d0d;

    border:1px solid rgba(255,255,255,0.08);

    border-radius:30px;

    padding:50px;

    display:flex;

    flex-direction:column;

    gap:18px;

    text-align:center;

    box-shadow:
    0 0 20px rgba(109,139,255,0.08);

}

.auth-card h1{

    font-size:3rem;

    font-weight:900;

    letter-spacing:8px;

}

.auth-card p{

    color:#6D8BFF;

    letter-spacing:4px;

    margin-bottom:15px;

}

.auth-card input{

    width:100%;

    padding:18px;

    border:none;

    border-radius:14px;

    background:#111;

    color:white;

    font-size:15px;

}

.auth-card input:focus{

    outline:none;

    border:1px solid #6D8BFF;

}

.auth-card button{

    padding:18px;

    border:none;

    border-radius:50px;

    background:#6D8BFF;

    color:white;

    font-weight:700;

    cursor:pointer;

    transition:0.3s ease;

}

.auth-card button:hover{

    transform:translateY(-3px);

}

.auth-card a{

    color:#aaa;

    margin-top:10px;

    transition:0.3s;

}

.auth-card a:hover{

    color:#6D8BFF;

}

@media(max-width:600px){

    .auth-card{

        padding:35px 25px;

    }

    .auth-card h1{

        font-size:2.3rem;

    }

=======
.auth-page{

    min-height:100vh;

    display:flex;

    justify-content:center;

    align-items:center;

    padding:40px;

}

.auth-card{

    width:100%;
    max-width:500px;

    background:#0d0d0d;

    border:1px solid rgba(255,255,255,0.08);

    border-radius:30px;

    padding:50px;

    display:flex;

    flex-direction:column;

    gap:18px;

    text-align:center;

    box-shadow:
    0 0 20px rgba(109,139,255,0.08);

}

.auth-card h1{

    font-size:3rem;

    font-weight:900;

    letter-spacing:8px;

}

.auth-card p{

    color:#6D8BFF;

    letter-spacing:4px;

    margin-bottom:15px;

}

.auth-card input{

    width:100%;

    padding:18px;

    border:none;

    border-radius:14px;

    background:#111;

    color:white;

    font-size:15px;

}

.auth-card input:focus{

    outline:none;

    border:1px solid #6D8BFF;

}

.auth-card button{

    padding:18px;

    border:none;

    border-radius:50px;

    background:#6D8BFF;

    color:white;

    font-weight:700;

    cursor:pointer;

    transition:0.3s ease;

}

.auth-card button:hover{

    transform:translateY(-3px);

}

.auth-card a{

    color:#aaa;

    margin-top:10px;

    transition:0.3s;

}

.auth-card a:hover{

    color:#6D8BFF;

}

@media(max-width:600px){

    .auth-card{

        padding:35px 25px;

    }

    .auth-card h1{

        font-size:2.3rem;

    }

>>>>>>> f1ffff6 (update)
}